{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/home.css'%}">
    <title>Home Page</title>
    <meta property="og:title" content="Xamination">
    <meta property="og:url" content="https://xamination.herokuapp.com">
    <meta property="og:description" content="Belajar dan dapatkan hasil terbaik">
    <meta property="og:type" content="image/png">
    <meta property="og:image" content="{% static 'logo.png' %}">
</head>
<body>
    <div>
    <img src="{% static 'home/logo.png'%}">
    <ul>
        <li><a class="kiri" href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'mapel' %}">Mulai Belajar</a></li>
    </ul>
    </div>
</body>
</html>